html {
    scroll-behavior: smooth;
    body {
        background-color: black;
        max-width: 100vw;
        overflow-x: hidden;
        font-family: $monserrat;
        img {
            max-width: 100%;
        }
        .spanGold {
            color: $darkGold;
        }
    }
}

@media (min-width: 1000px) {
    html {
        body {
            .main__div--flex {
                flex-direction: row;
            }
        }
    }
}