$darkest: #202020;
$darker: #242424;
$lightgray: #c4c2c2;
$white: #F5F2EE;
$gold: #A59678;
$brightGold: #b1955c;
$darkGold: #685c45;
$goldenState: #edc44a;
$bulls: #ff1b1c80;
$lakers: #4c2c69b3;
$celtics: #63c13299;
$spurs: #d9dadb;
$miami: #4acec1;