%mainSection {
    padding: calc(145px + 5vh) 0 5vh 0 !important;
    color: $white;
    line-height: 1.6;
    border-top: unset;
}

%tittleStyle {

    font-size: calc(4.2vw + 2rem);
}

%subtittleStyle {

    font-size: calc(2vw + 1rem);
}

%parragraphStyle {
    font-size: calc(.5rem + .6vw);
    padding-top: .4em;
}

%divFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

%divGrid {
    display: grid;
    grid-template-columns: 1;
    align-items: center;
    gap: 0 2em;
}

@media (min-width: 1000px) {
    %divGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}